<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 text-center">
        <img class="img-main-logo img-responsive" src="img/main-logo.png">
      </div>
      <div class="col-lg-9 text-left">
        <p class="lead">A family-run, independent grocery store that has been serving View Royal for over 40 years.  Come in and check out our specials.  Groceries, fresh produce, in-store bakery, meat and flowers.</p>

        <p class="lead"><b>Free</b> flower deliveries to the Victoria General Hospital (minimum order $25)</p>

        <p class="lead">Give us a call for special orders: fresh buns, sausage rolls, meat, flowers</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
