<section id="ourstory" class="ourstory">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-left">
        <center><h2>Our Story</h2></center>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <img class="img-portfolio img-responsive img-rounded" src="img/shanon-and-garvin.jpg">
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet elit sit amet urna suscipit volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut tempus libero sed diam ultrices venenatis. Vestibulum a vestibulum lectus. Curabitur eget laoreet neque. In hac habitasse platea dictumst. Donec nibh velit, semper sed posuere a, posuere sed dui. Maecenas quis felis in tellus fermentum efficitur sit amet a nulla.</p>

              <p>Vivamus gravida faucibus erat, sit amet aliquam ante bibendum in. Aenean dapibus nisl sed massa facilisis eleifend. Vestibulum tincidunt elit risus, id eleifend diam auctor quis. Duis iaculis magna ac bibendum sagittis. Morbi facilisis molestie quam, nec convallis justo pretium quis. Cras velit mi, dictum id ex id, bibendum ultricies leo. Praesent commodo posuere nisl ut rhoncus. In vitae tincidunt enim. Nullam vitae eros enim. Vivamus ac iaculis lectus. In nec dignissim ligula.</p>

              <p>Aenean mollis convallis augue, ut posuere lorem. Pellentesque interdum purus at ex vulputate iaculis. In sapien sapien, rhoncus a condimentum ac, porta quis diam. Suspendisse potenti. Cras neque ligula, sollicitudin ac semper at, aliquam ac sapien. Sed tempus iaculis lorem, at efficitur purus tincidunt semper. Aliquam nec tincidunt est, a bibendum lacus.</p>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
