<section id="specials" class="specials bg-success">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Specials of the Week</h2>
        <hr class="small">
        <div class="row">
          {% for s in site.specials %}
          <div class="col-md-6">
            <div class="specials-item">
              <img class="img-specials img-responsive img-rounded" src="{{ s.image }}">
              <div class="specials-caption">{{ s.caption }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
