<section id="specials" class="specials bg-success">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Specials of the Week</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="specials-item">
              <img class="img-specials img-responsive img-rounded" src="img/specials-IMG_4858.JPG">
            </div>
          </div>
          <div class="col-md-6">
            <div class="specials-item">
              <img class="img-specials img-responsive img-rounded" src="img/specials-IMG_4857.JPG">
            </div>
          </div>
<!--
          <div class="col-md-6">
            <div class="specials-item">
              <img class="img-specials img-responsive" src="img/portfolio-3.jpg">
            </div>
          </div>
          <div class="col-md-6">
            <div class="specials-item">
              <img class="img-specials img-responsive" src="img/portfolio-4.jpg">
            </div>
          </div>
-->
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
